body {
  height: 100%;
  width: 100%;
  position: absolute;
  background: lightgray !important;
}

.btn-link-dark:hover {
  color: #292b2c !important;
}

.nav-dropdown-link {
  color: lightgray;
  text-decoration: none;
}

.nav-dropdown-link:hover {
  color: lightgray !important;
}