body {
  height: 100%;
  width: 100%;
  position: absolute;
  background: lightgray !important;
}

/* NavBar */

.btn-link-dark:hover {
  color: #292b2c !important;
}

.nav-dropdown-link {
  color: lightgray;
  text-decoration: none;
}

.nav-dropdown-link:hover {
  color: lightgray !important;
}

.nav-icon {
  transform: translateY(-4px)
}

/* geoAreaForm */

.button-geoArea {
  background-color: white !important;
}

.button-geoArea:hover {
  background-color: rgba(255, 255, 255, 0.623) !important;
}

/* HikePageHendler */

.pagination > li > a {
  color: black !important;
}

.pagination > .active {
  --bs-pagination-active-bg: gray !important;
  --bs-pagination-active-border-color: gray !important;
}

/* HikeTable */

.hike-desc {
  text-align: left;
}

.emty-hikeList {
  text-align: center;
}

.emty-hikeList > div {
  background-color: transparent;
}

.emty-hikeList > div > h5 {
  color: gray;
}

/* FilterForm */

.btn-geoArea {
  display: flex;
  align-items: flex-end;
}

.leaflet-container {
  width: 100wh;
  height: 30vh;
}

/* loading overlay */

.loading-overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  pointer-events: none;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}